$color_1: #fff;
$color_2: #888;
$color_3: #a6a6a6;
$color_4: #ffcd38;
$color_5: #d3d3d3;
$font_family_1: 'Pe-icon-7-stroke';
$background_color_1: #ffcd38;
$background_color_2: #fff;

.blog-masonry {
	margin: 0 -1em;
	.item {
		width: 50%;
		float: left;
		padding: 1em;
	}
}
.blog-card {
	display: block;
	position: relative;
	padding: 0;
	background: #fff;
	text-align: center;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	&:hover {
		-webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.11);
		-moz-box-shadow: 0 1px 15px rgba(0,0,0,0.11);
		box-shadow: 0 1px 15px rgba(0,0,0,0.11);
	}
	.post-image {
		width: 100%;
		margin: 0;
	}
	.post-info {
		padding: 0.8em 1.2em 1.4em;
	}
	.blog-item-title {
		margin: 5px 0 0 0;
	}
	.post-meta {
		padding: 1em;
		margin: 0;
		.item {
			color: $color_3;
		}
	}
	.post-date {
		display: inline-block;
		background-color: $background_color_1;
		padding: 0.3em;
		text-align: center;
		position: absolute;
		bottom: -10px;
		right: 1em;
		min-width: 44px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		span {
			display: block;
			color: $color_1;
			line-height: 1;
			font-size: 12px;
			margin: 0;
		}
		span.day {
			font-size: 18px;
			margin: 3px 0;
		}
		span.month {
			font-weight: 300;
			margin-bottom: 3px;
		}
		span.year {
			font-size: 0.8em;
		}
	}
	.media-block {
		position: relative;
		a {
			.mask {
				position: absolute;
				background: #4f565e;
				background: rgba(79,86,94,0.6);
				display: inline-block;
				font-family: $font_family_1;
				//speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				width: 100%;
				left: 0;
				bottom: 0;
				top: 0;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				&:after {
					position: absolute;
					left: 50%;
					top: 50%;
					margin: -33px 0 0 -33px;
					width: 66px;
					line-height: 66px;
					font-size: 66px;
					text-align: center;
					content: "\e62e";
					color: $color_1;
				}
			}
			&:hover {
				.mask {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	ul.category {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			a {
				color: $color_2;
				font-size: 0.8em;
				font-weight: 300;
			}
		}
	}
}
.post-meta {
	.item {
		a {
			color: $color_3;
		}
		display: inline-block;
		font-size: 13px;
		margin-right: 10px;
		&:before {
			padding-right: 5px;
		}
	}
}
.blog-post-page {
	height: auto;
	.page-wrapper {
		position: relative;
		border-left: 15px solid #f5f5f5;
	}
}
.blog-back-button {
	display: block;
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: $background_color_2;
	text-align: center;
	color: $color_2;
	&:after {
		display: block;
		width: 5px;
		height: 100%;
		position: absolute;
		bottom: 5px;
		left: -5px;
		content: "";
		transform: skew(0deg,65deg);
		-ms-transform: skew(0deg,65deg);
		-webkit-transform: skew(0deg,65deg);
		-o-transform: skew(0deg,65deg);
		-moz-transform: skew(0deg,65deg);
		background: #d9d9d9;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	&:hover {
		color: $color_1;
		background-color: $background_color_1;
		&:after {
			background: #ebbd34;
		}
	}
	&:visited {
		&:hover {
			color: $color_1;
			background-color: $background_color_1;
			&:after {
				background: #ebbd34;
			}
		}
	}
	i {
		line-height: 40px;
		font-size: 21px;
	}
}
.blog-post-content {
	position: relative;
	background-color: $background_color_2;
	padding: 30px;
	margin: -70px 40px 0;
	.block-title {
		margin: 40px 0 10px;
	}
	.post-info {
		display: inline-block;
		width: 100%;
		background-color: $background_color_2;
		border: 1px solid #eee;
		padding: 5px 10px;
		margin: 30px 0 0;
		.share-buttons {
			display: inline-block;
			margin: 0;
		}
		span {
			display: inline-block;
			padding: 5px 0;
			line-height: 1em;
		}
	}
	.post-comment-add {
		max-width: 700px;
	}
	.post-comments {
		.media {
			margin-top: 30px;
		}
		>.media {
			margin-top: 0;
		}
	}
	.divider {
		color: $color_5;
		margin: 0 2px;
		min-width: 5px;
	}
}
blockquote {
	margin: 20px 0;
}
.post-comments {
	.media-object {
		max-width: 60px;
		border-radius: 50px;
		border: 2px solid #ddd;
	}
	.media-footer {
		color: $color_2;
		font-size: 12px;
		line-height: 1em;
		a {
			color: $color_2;
			font-size: 12px;
			line-height: 1em;
			&:hover {
				color: $color_4;
			}
		}
	}
	.light-gray {
		color: $color_2;
		font-size: 12px;
	}
}
