
/* ============================================================================= 
6. Site content
============================================================================= */
.site-main {
    height: 100%;
    margin-left: 22%;
    position: relative;
    background-color: #fff;
    @media only screen and (max-width: 1200px) {
        margin-left: 26%;
    }
  }
  
  /* Main menu */
  .site-nav {
    display: block;
    padding: 25px 0 30px;
  }
  .site-main-menu {
    display: block;
    padding: 0;
    margin: 0;
    font-family: Oswald, Helvetica, sans-serif;
  }
  
  .site-main-menu li {
    display: block;
    position: relative;
    padding: 0;
    text-align: center;
  }
  
  .site-main-menu li a,
  .site-main-menu li a:hover {
    display: block;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #f5f5f5;
    outline: none;
  }
  
  .site-main-menu li:first-child a {
    border-top: 1px solid #f5f5f5;
  }
  
  .site-main-menu li a:hover,
  .site-main-menu li.active a {
    background-color: #fcfcfc;
  }
  
  .site-main-menu li a:hover:after,
  .site-main-menu li.active a:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 3px;
    height: 100%;
    margin: 0 auto;
    background-color: #eee;
  }
  
  .site-main-menu li.active a:after {
    background-color: #ffcd38;
  }
  /* /Main menu */
  
  /* Section title */
  .section-title-block {
    margin-bottom: 40px;
  }
  
  .section-title {
    display: inline-block;
    position: relative;
    margin: 0 0 0 -80px;
    padding: 10px 20px 10px 78px;
    background-color: #ffcd38;
    color: #fff;
    line-height: 1.1em;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    @media only screen and (max-width: 991px) {
        font-size: 27px;
    }
  }
  
  .section-title:after {
    display: block;
    width: 10px;
    height: 0px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ebbd34;
  }
  
  .section-description {
    display: inline-block;
    margin:  0 0 0 15px;
    color: #888;
    font-size: 14px;
    font-weight: 200;
  }
  
  .block-title h3 {
    display: inline-block;
    margin: 0 0 15px;
    padding-bottom: 3px;
  }
  
  .block-title h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #ffcd38;
  }