$color_1: #888;

/* Contact info */
.contact-info-block {
	position: relative;
	text-align: left;
	width: 100%;
	display: block;
	margin: 0;
	padding: 10px 10px 10px 0;
	&:last-child {
		margin-bottom: 30px;
	}
	.ci-icon {
		position: absolute;
		top: 50%;
		margin-top: -15px;
	}
	h5 {
		margin: 5px 0;
	}
	.pe-7s-icon {
		position: relative;
		font-size: 30px;
		color: $color_1;
	}
}
.ci-text {
	position: relative;
	padding-left: 50px;
}
