$color_1: #888;
$color_2: #ffcd38;
$background_color_1: #fafafa;

.fun-fact-block {
	position: relative;
	text-align: center;
	width: 100%;
	display: block;
	margin: 0;
	background: #fff;
	padding: 20px 10px 15px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	h4 {
		margin-top: 10px;
	}
	.pe-7s-icon {
		position: relative;
		font-size: 56px;
		color: $color_1;
	}
	.fun-value {
		font-size: 24px;
		font-weight: 300;
		display: block;
		margin: 10px 0;
		color: $color_2;
	}
}
.fun-fact-block.gray-bg {
	background-color: $background_color_1;
}
