$color_1: #222;
$color_2: #9c9c9c;
$color_3: #888;
$color_4: #fff;
$color_5: #ffcd38;
$font_family_1: Oswald, Helvetica, sans-serif;
$background_color_1: #fff;
$background_color_2: #eee;
$background_color_3: #ffcd38;

/* ============================================================================= 
5. Site header (sidebar)
============================================================================= */

.header {
	position: fixed;
	width: 22%;
	height: 100%;
	background-color: $background_color_1;
    overflow: auto;
    @media only screen and (max-width: 1200px) {
        width: 26%;
    }
    @media only screen and (max-width: 991px) {
        max-width: 320px;
        height: calc(100% - 50px);
        top: 50px;
        z-index: 999;
        -webkit-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.1);
        box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.1);
        -webkit-transition: all 0.66s ease-in-out;
        -moz-transition: all 0.66s ease-in-out;
        -o-transition: all 0.66s ease-in-out;
        -ms-transition: all 0.66s ease-in-out;
        transition: all 0.66s ease-in-out;
    }
}
.my-photo {
	position: relative;
	margin: 30px auto 20px;
	max-width: 110px;
	text-align: center;
	z-index: 0;
	img {
		position: relative;
		border-radius: 200px;
		border: 2px solid #e5e5e5;
	}
}
.site-title-block {
	position: relative;
	z-index: 1;
	margin: 20px 20px 10px;
	text-align: center;
}
.site-title {
	color: $color_1;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.1em;
	margin: 15px 0 0 0;
}
p.site-description {
	color: $color_2;
	font-size: 16px;
	font-weight: 300;
	font-family: $font_family_1;
	margin: 10px 0;
}
ul.social-links {
	display: block;
	list-style: none;
	margin: 40px 0 0;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		a {
			display: inline-block;
			margin: 0 2px;
			width: 28px;
			height: 28px;
			color: $color_3;
			background-color: $background_color_2;
			text-align: center;
			&:hover {
				color: $color_4;
				background-color: $background_color_3;
				color: $color_5;
				i {
					color: $color_4;
				}
			}
			i {
				font-size: 14px;
				line-height: 28px;
			}
		}
		&:last-child {
			a {
				margin-right: 0;
			}
		}
	}
}
.menu-toggle {
	display: block;
	width: 50px;
	margin: 0 4px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: $color_4;
	float: right;
	i {
		color: $color_1;
		font-size: 21px;
		line-height: 50px;
	}
}
