$color_1: #fff;
$color_2: #222;
$color_3: #eee;
$font_family_1: Oswald, Helvetica, sans-serif;
$font_family_2: 'PT Sans', Helvetica, sans-serif;
$background_color_1: #ffcd38;

/* =======================================
7.1. Home subpage
======================================= */

.home-page-block-bg {
	.mask {
		position: absolute;
		background: rgba(55,55,55,0.7);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.home-page-block {
	position: relative;
	display: table;
	width: 100%;
	height: 100vh;
	z-index: 1;
	h2 {
		color: $color_1;
		text-align: center;
		font-size: 70px;
		margin: 0;
	}
	.info-list {
		display: inline-block;
		text-align: left;
		li {
			padding: 6px 0;
			color: $color_3;
			font-size: 16px;
			span.title {
				color: $color_3;
				font-size: 16px;
			}
			a {
				color: $color_3;
				font-size: 16px;
			}
		}
	}
}
.home-page-description {
	color: $color_1;
	font-size: 21px;
	font-weight: 300;
	font-family: $font_family_1;
	margin: 5px 0;
	text-align: center;
}
.v-align {
	display: table-cell;
	vertical-align: middle;
}
.info-list {
	list-style: none;
	margin: 0;
	padding: 15px 0 30px;
	li {
		padding: 3px 0;
		font-size: 14px;
		.title {
			display: inline-block;
			font-family: $font_family_1;
			margin-right: 15px;
			color: $color_2;
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: $background_color_1;
			}
		}
		.value {
			font-family: $font_family_2;
			min-width: 250px;
		}
	}
}
