$color_1: #222;
$font_family_1: Oswald, Helvetica, sans-serif;
$font_family_2: 'PT Sans';
$background_color_1: #ffcd38;

.info-list {
	list-style: none;
	margin: 0;
	padding: 15px 0 30px;
	li {
		padding: 3px 0;
		font-size: 14px;
		.title {
			display: inline-block;
			font-family: $font_family_1;
			margin-right: 15px;
			color: $color_1;
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: $background_color_1;
			}
		}
		.value {
			font-family: $font_family_2;
			min-width: 250px;
		}
	}
}
