$background_color_1: #ffcd38;

/* ============================================================================= 
3. Page loadig animation
============================================================================= */
@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes bounce {
	0%,100% {
		-webkit-transform: scale(0.0);
	}
	50% {
		-webkit-transform: scale(1.0);
	}
}
@keyframes bounce {
	0%,100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
.no-js {
	.preloader {
		display: none;
	}
}
.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #fff;
}
.preloader-animation {
	margin: -20px auto 0;
	top: 50%;
	left: 0;
	right: 0;
	width: 40px;
	height: 40px;
	position: absolute;
	text-align: center;
	-webkit-animation: rotate 2.0s infinite linear;
	animation: rotate 2.0s infinite linear;
}
.dot1 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: $background_color_1;
	border-radius: 100%;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}
.dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: $background_color_1;
	border-radius: 100%;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
