$color_1: #fff;
$background_color_1: #f5f5f5;
$background_color_2: #fff;

/* ============================================================================= 
4. Subpages changer
============================================================================= */
/*No Animation Support Message Style*/
.pt-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	padding-left: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: $background_color_1;
}
.pt-wrapper.scroll-auto {
	overflow-x: auto;
	overflow-y: visible;
}
.pt-wrapper-content {
	position: relative;
	width: 100%;
	height: 100%;
}
.pt-page {
	width: 100%;
	height: 0;
	position: absolute;
	opacity: 0;
	top: auto;
	left: 0;
	padding: 50px 70px 50px;
	background-color: $background_color_2;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	* {
		height: 0;
	}
	.portfolio-grid {
		display: none;
	}
	.blog-masonry {
		display: none;
	}
}
.no-js {
	.pt-page {
		position: relative;
		visibility: visible;
		z-index: 90;
		opacity: 1;
		height: auto;
		min-height: 100%;
		* {
			height: auto;
		}
	}
	body {
		overflow: auto;
	}
}
.pt-page-content {
	position: absolute;
	width: 100%;
}
.pt-page-current {
	visibility: visible;
	z-index: 90;
	opacity: 1;
	height: auto;
	min-height: 100%;
	* {
		height: auto;
	}
}
.pt-page.pt-page-current {
	.portfolio-grid {
		display: block;
	}
	.blog-masonry {
		display: block;
	}
}
.pt-message {
	display: none;
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #da475c;
	color: $color_1;
	text-align: center;
	p {
		margin: 0;
		line-height: 60px;
		font-size: 26px;
	}
}
.no-cssanimations {
	.pt-message {
		display: block;
	}
}
.subpages {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1500px;
	-moz-perspective: 1500px;
	perspective: 1500px;
}
.section-with-bg {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-attachment: fixed;
	background-position: 50%;
	background-size: cover;
	-webkit-background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
}
