$color_1: #888;
$color_2: #fff;
$color_3: #eee;
$color_4: rgba(255,255,255,0.9);
$color_5: #ffcd38;
$font_family_1: FontAwesome;
$background_color_1: #eee;
$background_color_2: #ffcd38;

/* Direction-Aware Hover Effect */
/* Portfolio Carousel */
.page-ajax-loaded {
	display: none;
	position: absolute;
	background: #fff;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	overflow: auto;
}
.portfolio-grid {
	margin-left: -0.5em;
	margin-right: -0.5em;
	figure {
		width: 25%;
		float: left;
		padding: 0.5em;
		float: left;
		background: #fff;
        position: relative;
        @media only screen and (max-width: 1200px) {
            width: 33%;
        }
		a {
			div {
				top: 0px;
				left: -100%;
				padding: 5px 20px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				position: absolute;
				background: #4f565e;
				background: rgba(79,86,94,0.7);
				width: 100%;
				height: 100%;
				color: $color_1;
				h5 {
					display: inline-block;
					font-size: 1rem;
					margin: 10px 0;
					color: $color_2;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
					&:after {
						display: block;
						content: '';
						width: 100%;
						height: 2px;
						margin: 0 auto;
						background-color: $background_color_2;
					}
				}
				small {
					color: $color_3;
					position: absolute;
					bottom: 10px;
					left: 20px;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
				}
				i {
					color: $color_3;
					position: absolute;
					bottom: 14px;
					right: 20px;
					margin: 0;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
				}
				span {
					display: block;
					padding: 10px 0;
					text-transform: uppercase;
					font-weight: normal;
					color: $color_4;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
					border-bottom: 1px solid rgba(255,255,255,0.5);
					-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
					-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
					box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
				}
			}
			&:hover {
				div {
					left: 0px;
				}
			}
			display: block;
			position: relative;
			position: relative;
			display: block;
			overflow: hidden;
		}
	}
	img {
		position: relative;
		display: block;
		width: 100%;
	}
}
.portfolio-filters {
	list-style: none;
	padding: 0;
	margin: 0 0 2em;
	text-align: center;
	li {
		display: inline-block;
		a {
			color: $color_1;
			text-decoration: none;
			&:hover {
				color: $color_1;
				text-decoration: none;
				background-color: $background_color_1;
			}
		}
	}
	li.active {
		a {
			background-color: $background_color_2;
			color: $color_2;
			&:hover {
				background-color: $background_color_2;
				color: $color_2;
			}
		}
	}
}
.portfolio-rid {
	figure {
		a {
			img {
				display: block;
				position: relative;
			}
		}
	}
}
.portfolio-page-carousel {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		margin-top: -20px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		[class*='owl-'] {
			color: $color_1;
			margin: 0;
			padding: 4px 7px;
			background: #fff;
			display: inline-block;
			cursor: pointer;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			&:before {
				display: block;
				font-family: $font_family_1;
				font-size: 30px;
				line-height: 30px;
			}
		}
		.owl-prev {
			float: left;
			margin-left: -50px;
			&:before {
				content: "\f104";
			}
		}
		.owl-next {
			float: right;
			margin-right: -50px;
			&:before {
				content: "\f105";
			}
		}
	}
	&:hover {
		.owl-nav {
			.owl-prev {
				margin-left: 0;
			}
			.owl-next {
				margin-right: 0;
			}
		}
	}
	.owl-dots {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 10px 5px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		.owl-dot {
			display: inline-block;
			&:hover {
				span {
					background: #888;
				}
			}
			span {
				width: 12px;
				height: 12px;
				margin: 5px;
				background: #f5f5f5;
				border: 1px solid #888;
				display: block;
				backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}
		}
		.owl-dot.active {
			span {
				background: #888;
			}
		}
	}
}
.portfolio-page-content {
	padding-bottom: 60px;
	img {
		max-width: 100%;
	}
}
.portfolio-nav {
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	.portfolio-close-button {
		a {
			display: block;
			height: 30px;
			width: 30px;
			background-color: $background_color_1;
			text-align: center;
			color: $color_1;
			&:hover {
				background-color: $background_color_2;
				color: $color_2;
			}
			i {
				line-height: 30px;
				font-size: 18px;
			}
		}
	}
}
.portfolio-title {
	padding-top: 40px;
	h1 {
		display: inline-block;
		margin: 0;
	}
}
.portfolio-block {
	padding-top: 30px;
}
.portfolio-page-video {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.portfolio-page-image {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.project-general-info {
	list-style: none;
	padding: 0;
	margin: 0 0 15px;
	li {
		margin: 0 0 10px;
	}
	.fa {
		color: $color_5;
		margin-right: 5px;
	}
	p {
		margin: 0;
	}
}
