
@media only screen and (max-width: 991px) {
	.mobile-visible {
		display: block;
		visibility: visible;
    }
    .my-photo {
        margin-top: 30px;
    }
    
  .mobile-header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    z-index: 1000;
  }

  .mobile-logo-container {
    margin: 0 20px;
    text-align: left;
  }

  .mobile-site-title {
    // display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 500;
    font-family: Oswald, Helvetica, sans-serif;
    margin: 0;
    line-height: 50px;
  }

  .site-title-block .site-description {
    display: none;
  }

  .subpage-block {
    margin-bottom: 40px;
  }

  .site-main {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .section-title-block {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .section-title {
    display: inline-block;
    position: relative;
    margin-left: -20px;
    padding-left: 20px;
  }

  .section-title:after {
    display: none;
  }

  .section-title-block .section-description {
    display: none;
  }

  .site-title {
    color: #222;
    text-shadow: none;
  }

  p.site-description {
    color: #888;
    text-shadow: none;
  }

  .pt-wrapper {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }

  .pt-page {
    padding: 25px 20px 60px;
  }

  .mobile-menu-hide {
    margin-left: -100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .home-page-block h2 {
    font-size: 60px;
  }

  .home-page-description {
    font-size: 18px;
  }

  .blog-post-content {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .blog-post-page .page-wrapper {
    border-left: 0;
  }
}

@media only screen and (max-width: 769px) {
    .portfolio-grid figure {
      width: 50%;
    }
  
    .home-page-block h2 {
      font-size: 50px;
    }
  
    .home-page-description {
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .blog-masonry .item {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .portfolio-grid figure {
      width: 100%;
    }
  
    .home-page-block h2 {
      font-size: 40px;
    }
  
    .home-page-description {
      font-size: 16px;
    }
  }