$color_1: #ffcd38;

.service-block {
	text-align: center;
	img {
		max-width: 100px;
		max-height: 74px;
		margin: 0 0 18px;
	}
}
.service-icon {
	font-size: 70px;
	color: $color_1;
	margin: 0 0 18px;
}
