.share-buttons {
    margin: 25px 0 0;
  }
  
  .share-buttons a {
    display: inline-block;
    margin: 0 7px 0 0;
    padding: 0;
    width: 28px;
    height: 28px;
    color: #888;
    background-color: #eee;
    text-align: center;
  }
  
  .share-buttons a:hover {
    color: #fff;
    background-color: #ffcd38;
  }
  
  .share-buttons a:last-child {
    margin-right: 0;
  }
  
  .share-buttons a i {
    font-size: 14px;
    line-height: 28px;
  }