$background_color_1: transparent;
$background_color_2: #ffcd38;

/* Animate skills on subpage load */
/*Skill 1*/
/*Skill 2*/
/*Skill 3*/
/*Skill 4*/
/*Skill 5*/
/*Skill 6*/
/*Skill 7*/
/*Skill 8*/
/* Skills */
.skills-info {
	margin-bottom: 30px;
	h4 {
		font-size: 0.875em;
		line-height: 1.1em;
		position: relative;
		margin: 0 0 5px;
	}
}
.skill-container {
	background-color: $background_color_1;
	border: 2px solid #ffcd38;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 14px;
	margin-bottom: 12px;
	width: 100%;
}
.skill-percentage {
	background-color: $background_color_2;
	border: 2px solid #fff;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	height: 10px;
	padding: 0;
}
.pt-page {
	.skill-percentage {
		-webkit-transition: all 2.5s ease-in-out;
		-moz-transition: all 2.5s ease-in-out;
		-o-transition: all 2.5s ease-in-out;
		-ms-transition: all 2.5s ease-in-out;
		transition: all 2.5s ease-in-out;
	}
}
.js {
	.pt-page {
		&:not(.pt-page-current) {
			.skill-percentage {
				width: 0;
			}
		}
	}
}
.skill-percentage.skill-1 {
	width: 88%;
}
.skill-percentage.skill-2 {
	width: 75%;
}
.skill-percentage.skill-3 {
	width: 60%;
}
.skill-percentage.skill-4 {
	width: 95%;
}
.skill-percentage.skill-5 {
	width: 85%;
}
.skill-percentage.skill-6 {
	width: 72%;
}
.skill-percentage.skill-7 {
	width: 60%;
}
.skill-percentage.skill-8 {
	width: 77%;
}
