.tags-block {
    margin: 25px 0 0;
  }
  
  .tags {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tags li {
    display: inline-block;
    margin: 2px 0;
  }
  
  .tags li a {
    font-size: 12px;
    color: #666;
    padding: 2px 7px;
    background-color: #eee;
  }