$color_1: #222;
$font_family_1: Oswald, Helvetica, sans-serif;
$background_color_1: #fcfcfc;

.testimonials {
	width: 100%;
    overflow: hidden;
    .owl-carousel {
        .owl-nav {
            position: absolute;
            text-align: right;
            right: 0;
            bottom: 5px;
            .owl-prev {
                margin-right: 3px;
                display: inline-block;
                background-color: $background_color_1;
                -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
                &:hover {
                    color: $color_1;
                    background-color: $background_color_2;
                }
                &:before {
                    position: relative;
                    margin: 2px;
                    width: 22px;
                    height: 22px;
                    font-family: $font_family_1;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    content: "\f104";
                }
            }
            .owl-next {
                display: inline-block;
                background-color: $background_color_1;
                -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
                &:hover {
                    color: $color_1;
                    background-color: $background_color_2;
                }
                &:before {
                    position: relative;
                    margin: 2px;
                    width: 22px;
                    height: 22px;
                    font-family: $font_family_1;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    content: "\f105";
                }
            }
        }
    }    
}
.testimonial-item {
	width: 100%;
	margin: 0 auto;
}
.testimonial-credits {
	margin-top: 10px;
	display: block;
	position: relative;
}
.testimonial-author {
	display: inline-block;
	font-size: 15px;
	font-family: $font_family_1;
	color: $color_1;
	margin: 0;
	font-weight: 500;
	text-align: center;
}
.testimonial-author-info {
	display: inline-block;
	position: relative;
	padding-left: 92px;
}
.testimonial-content {
	padding-left: 50px;
	width: 100%;
	height: auto;
	.testimonial-text {
		padding: 1.4em 1.8em;
		font-style: italic;
		background-color: $background_color_1;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: 2px solid #e5e5e5;
		width: 100%;
		position: relative;
		margin: 0;
		z-index: -1;
		p {
			margin: 0;
		}
	}
}
.testimonial-picture {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 0;
	top: -40px;
	border-radius: 40px;
	z-index: 1;
	img {
		width: 100%;
		border-radius: 100%;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border: 2px solid #ddd;
	}
}
.testimonial-firm {
	font-size: 10px;
	line-height: 1.5em;
	margin: 0;
	text-transform: uppercase;
	font-style: italic;
	font-weight: lighter;
}
$color_1: #fff;
$font_family_1: FontAwesome;
$background_color_1: #eee;
$background_color_2: #ffcd38;

/* Testimonials Carousel */
