$color_1: #fff;
$color_2: #a5a5a5;
$background_color_1: #9bd952;

/* Timeline  */
.timeline {
	position: relative;
	border-left: 1px solid #f4f9ed;
	padding-top: 6px;
	padding-bottom: 10px;
}
.timeline-event {
	position: relative;
	padding-left: 25px;
	padding-bottom: 15px;
	&:last-child {
		padding-bottom: 0px;
	}
	>* {
		display: block;
	}
}
.event-date {
	display: inline-block;
	position: relative;
	color: $color_1;
	font-weight: 300;
	line-height: 1.1em;
	margin: 0 0 3px;
	background-color: $background_color_1;
	padding: 5px 8px 5px 30px;
	margin-left: -30px;
	&:after {
		display: block;
		width: 5px;
		height: 0px;
		position: absolute;
		bottom: -5px;
		left: 0px;
		content: "";
		border-bottom: 5px solid transparent;
		border-right: 5px solid #8cc44b;
	}
}
.event-name {
	margin: 10px 0 0;
}
.event-description {
	color: $color_2;
	margin: 0 0 4px;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.45em;
}
.download-cv-block {
	margin: 0 0 20px;
}
