.about {
    &-image {
        background-image: url('/images/portada_dark.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 100%;
    }
    &-fixed {
        position: fixed;
    }
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px;
    }
}