
.portada {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #particles-js{
        width: 100%;
        height: 100%;
        background-color: #eee;
        background-image: url('/images/portada2.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    &-intro {
        position: absolute;
        text-align: center;
        width: auto;
        padding: 30px 60px;
        z-index: 5;
        color: white;
        background-color: rgba(0,0,0,.4);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 75px;
            span{
                font-size: 75px;
                color: $primary;
            }
        }
        span {
            font-size: 23px;
            font-weight: 800;
        }
        &:before {
            content: '';
            width: 10px;
            height: 50%;
            top: 115px;
            background-color: $primary;
            position: absolute;
            left: -25px;
        }
        &:after {
            content: '';
            height: 10px;
            width: 50%;
            bottom: -25px;
            background-color: $primary;
            position: absolute;
            left: -25px;
        }
    }
}