$color_1: #666;
$color_2: #0099CC;
$color_3: #006699;
$color_4: #222;
$color_5: #fff;
$color_6: inherit;
$color_7: #d3d3d3;
$color_8: #ffcd38;
$color_9: #adadac;
$font_family_1: 'PT Sans', Helvetica, sans-serif;
$font_family_2: Oswald, Helvetica, sans-serif;
$background_color_1: #ffcd38;
html {
	height: 100%;
}
body {
	font-family: $font_family_1;
	color: $color_1;
	margin: 0;
	height: 100%;
	font-size: 100%;
	line-height: 1.5em;
}
a {
	color: $color_2;
	text-decoration: none;
	outline: none;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&:hover {
		color: $color_3;
		color: $color_2;
		text-decoration: none;
		outline: none;
	}
}
h1 {
	color: $color_4;
	font-family: $font_family_2;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}
h2 {
	color: $color_4;
	font-family: $font_family_2;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}
h3 {
	color: $color_4;
	font-family: $font_family_2;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}
h4 {
	color: $color_4;
	font-family: $font_family_2;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}
h5 {
	color: $color_4;
	font-family: $font_family_2;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}
h6 {
	color: $color_4;
	font-family: $font_family_2;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}
p {
	font-size: 0.875em;
	margin: 0 0 10px;
	font-weight: 300;
}
p.lead {
	font-size: 18px;
	margin: 30px 0;
}
img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.page {
	position: relative;
	height: 100%;
}
.mobile-visible {
	display: none;
	visibility: hidden;
}
input[type=submit] {
	display: inline-block;
	position: relative;
	padding: 0.8em 2em;
	margin-bottom: .25em;
	font-size: 0.875em;
	line-height: 1.2;
	border: 0;
	outline: 0;
	border: 2px solid #ffcd38;
	color: $color_4;
	text-shadow: none;
	background: none;
	border-radius: 0;
	font-family: $font_family_1;
	&:hover {
		color: $color_5;
		background-color: $background_color_1;
	}
	&:focus {
		color: $color_5;
		background-color: $background_color_1;
	}
}
input[type=button] {
	display: inline-block;
	position: relative;
	padding: 0.8em 2em;
	margin-bottom: .25em;
	font-size: 0.875em;
	line-height: 1.2;
	border: 0;
	outline: 0;
	border: 2px solid #ffcd38;
	color: $color_4;
	text-shadow: none;
	background: none;
	border-radius: 0;
	font-family: $font_family_1;
	&:focus {
		color: $color_5;
		background-color: $background_color_1;
	}
}
button {
	display: inline-block;
	position: relative;
	padding: 0.8em 2em;
	margin-bottom: .25em;
	font-size: 0.875em;
	line-height: 1.2;
	border: 0;
	outline: 0;
	border: 2px solid #ffcd38;
	color: $color_4;
	text-shadow: none;
	background: none;
	border-radius: 0;
	font-family: $font_family_1;
	&:hover {
		color: $color_5;
		background-color: $background_color_1;
	}
	&:focus {
		color: $color_5;
		background-color: $background_color_1;
	}
}
a.button {
	display: inline-block;
	position: relative;
	padding: 0.8em 2em;
	margin-bottom: .25em;
	font-size: 0.875em;
	line-height: 1.2;
	border: 0;
	outline: 0;
	border: 2px solid #ffcd38;
	color: $color_4;
	text-shadow: none;
	background: none;
	border-radius: 0;
	font-family: $font_family_1;
	&:hover {
		color: $color_5;
		background-color: $background_color_1;
	}
	&:focus {
		color: $color_5;
		background-color: $background_color_1;
	}
}
.btn {
	border-radius: 0;
}
.form-group {
	position: relative;
	margin: 0 0 20px;
	.help-block {
		position: absolute;
		display: inline-block;
		padding: 0px 5px;
		font-size: 0.8em;
		line-height: 1.5em;
		margin: -2px 0 0 10px;
		color: $color_5;
		background: #ff4e4e;
		&:after {
			content: " ";
			position: absolute;
			left: 5px;
			bottom: 100%;
			width: 0;
			height: 0;
			border-bottom: 10px solid #ff4e4e;
			border-right: 10px solid transparent;
		}
		&:empty {
			display: none;
		}
	}
}
.form-control {
	height: 42px;
	position: relative;
	border: 1px solid #dfdfdf;
	border-radius: 0;
	display: block;
	font-size: 0.875em;
	margin: 0;
	padding: 10px 25px 10px 12px;
	width: 100%;
	background: 0 0;
	text-align: left;
	color: $color_6;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	font-family: $font_family_1;
	&:focus {
		height: 42px;
		position: relative;
		border: 1px solid #dfdfdf;
		border-radius: 0;
		display: block;
		font-size: 0.875em;
		margin: 0;
		padding: 10px 25px 10px 12px;
		width: 100%;
		background: 0 0;
		text-align: left;
		color: $color_6;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		outline: none;
		font-family: $font_family_1;
		&+.form-control-border {
			left: 0;
			right: 0;
			z-index: 1;
		}
		&+.form-control-icon {
			color: $color_8;
		}
	}
	&+.form-control-border {
		content: "";
		position: absolute;
		z-index: -1;
		left: 50%;
		right: 50%;
		bottom: 0;
		background: #ffcd38;
		height: 2px;
		-webkit-transition-property: left, right;
		transition-property: left, right;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&::-moz-placeholder {
		color: $color_9;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: $color_9;
	}
	&::-webkit-input-placeholder {
		color: $color_9;
	}
}
.has-error {
	.form-control {
		position: relative;
		border: 1px solid #dfdfdf;
		border-radius: 0;
		display: block;
		font-size: 0.875em;
		margin: 0;
		padding: 10px 25px 10px 12px;
		width: 100%;
		background: 0 0;
		text-align: left;
		color: $color_6;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		outline: none;
		font-family: $font_family_1;
		&:focus {
			position: relative;
			border: 1px solid #dfdfdf;
			border-radius: 0;
			display: block;
			font-size: 0.875em;
			margin: 0;
			padding: 10px 25px 10px 12px;
			width: 100%;
			background: 0 0;
			text-align: left;
			color: $color_6;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			outline: none;
			font-family: $font_family_1;
		}
		&+.form-control-border {
			background: #ff4e4e;
		}
	}
}
textarea.form-control {
	height: auto;
	&:focus {
		height: auto;
	}
}
.form-control-icon {
	position: absolute;
	top: 13px;
	right: 13px;
	color: $color_7;
}
.no-padding {
	padding: 0;
}
.subpage-block {
	margin-bottom: 30px;
}
.text-rotate {
	display: block;
}
.g-recaptcha {
    margin-bottom: 20px;
}
.font-size-64 {
    font-size: 64px;
}