
// Body
$body-bg: #FFF1D8;
$black: #222;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #FFD654;
$primary_hover: lighten($primary, 50%);
$secondary: #4B80A6;
$secondary_hover: lighten($secondary, 50%);
$ternary: #719359;
$ternary_hover: lighten($ternary, 50%);
$quaternary: #994030;
$quaternary_hover: lighten($quaternary, 50%);

// $text-body-color: #666;
